body {
	background-color: #ffcc00;
	color: #00ccff;
}

h1 {
	color: red;
	border: 50px dotted green;
	font-size: 5em;
	font-weight: bold;
	font-variant: small-caps;
}

h2 {
	color: red;
	font-size: 3em;
	font-style: oblique;
}

h3 {
	color: red;
	font-size: 2em;
}

ul{
	color: green;
	font-size: 40em;
}

a{
	color: #ffe0e0;
}

p{
	background-color: #444444;
	font-size: 0.3em;
	color: #dabbed
}