body {
	background-color: #000000;
	color: #ffffff;
}

h1 {
	color: #ffffff;
	border: 5px solid #8c8c8c;
	font-size: 5em;
	font-weight: bold;
	font-variant: small-caps;
}

h2 {
	background-color: #040404;
	color: #ffffff;
	font-size: 3em;
}

h3 {
	background-color: #040404;
	color: #ffffff;
	font-size: 2em;
}

ul{
	background-color: #444444;
}

a{
	color: #00e0e0;
}

p{
	background-color: #444444;
	font-style: italic;
	color: #ffffff
}